* {
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.2s;
}

.img-thumbnail {
    max-width: 60%;
    margin-bottom: 10px;
}

nav.scrolled {
    background-color: #ecffe6;
}

.carousel {
    background-color: #eee;
}

.carousel img {
    height: calc(100vh - 56px);
    width: 100%;
    object-fit: contain;
}

.fasthand {
    font-family: 'Fasthand', cursive;
}

.card {
    margin: 20px;
    width: 18rem;
}

.list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.list:hover {
    cursor: pointer;
    background-color: #eee;
    margin: 14px;
}

.list:hover .list-item {
    padding: 6px;
}

#studySearch {
    margin-top: 20px;
}

#hashtagList a {
    color:black;
    text-decoration: none;
    background-color: pink;
    border-radius: 20px;
    padding:5px 10px;
    margin: 5px 0;
}

#hashtagList a:hover{
    background-color: hotpink;
}