* {
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.2s;
}

.card {
    margin: 20px;
    width: 18rem;
}

nav {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));

}

.list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.list:hover {
    cursor: pointer;
    background-color: var(--bs-gray-400);
}

#study {
    text-align: center;
}

.img-thumbnail {
    max-width: 100px;
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        z-index: 2;
    }

    .toggle-left {
        position: fixed;
        top: 56px;
        left: -100%;
        transition: linear 0.2s;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
        max-width: 70%;
        max-height: calc(100% - 56px);
        overflow-y: auto;
        overflow-x: hidden;

    }

    .toggled {
        left: 0px
    }

    .no-show {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    nav.scrolled {
        background-color: var(--bs-gray-400);
    }

    .reverse-no-show {
        display: none;
    }

}